
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
:root{
  --roxo-Principal:#68519D;
  --amarelo-Principal:#F8B04E;
  --roxo-Segundario:#2C2661;
  --roxo-Claro:#D7CAE5;
  --amarelo-Claro:#FBF0E2;
 }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url(./logo/faixa-amarela.png);
  background-repeat: no-repeat;
  background-position: right;
  
}
.faixa-roxa{
  width: 3%;
  height: 100%;
  background-color: var(--roxo-Principal);
  box-shadow: 4px 1px 0px 9px #D7CAE5;
}
.container{
  margin: auto 50px;
}
.logo-arnia{
  margin-bottom: 40px;
  margin-left: 40px;
}
.gerencia{
  font-size: 20px;
  color: var(--roxo-Principal);
  font-weight: bold;
}
.vector{
  margin-left: 40px;
}
.botaoAdd{
  width: 225px;
  height: 36px;
  color: var(--roxo-Principal);
  border: 1px solid var(--roxo-Principal);
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 30px;
}
table{
  width: 60vw;
  
  text-align: center;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}
thead{
  color: var(--roxo-Principal);
}
tr:nth-child(even) {
  background-color: #f5f5f5;
  
}
tbody tr td{
  color: var(--roxo-Segundario);
  padding: 2px;
  max-width: 50px;

}
.divTable {
  padding: 50px;
  width: auto; 
  height:inherit; 
  overflow:auto;
}
.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: var(--roxo-Segundario);
}
.statusCompleted{
  color: green;
}

.statusAndamento{
  color:rgb(189, 189, 45);
}

.statusStopeed{
  color:red;
}


@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 40%;
}

.modal label {
  font-size: 14px;
  width: 100%;
  color: var(--roxo-Principal);
}

.modal input,select {
  width: 100%;
  height: 7vh;
  outline: none;
  padding: 5px 10px; 
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 5px;
}

.modal button {
  width: 20%;
  height: 5vh;
  outline: none;
  float: right;
  background-color: transparent;
  color: var(--roxo-Principal);
  border-color: var(--roxo-Principal);
  border-width: 1px;
  border-radius: 20px;
 margin-top: 20px;
 
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

